{% include '_header.twig' with {'title': 'Tuindorp Stoempers | Wielervereniging Utrecht', 'bodyclass': ''} %}

<div class="header-image" style="background-image: url({{ paths.theme }}dist/images/banner6.jpg)"></div>

<div class="page-wrapper">
    <section class="card-section intro">
        <h2>Wielerclub Utrecht</h2>
        <p>De "Tuindorp Stoempers" vormen een informele wielerclub waarvan de leden uit de wijk Tuindorp in Utrecht (en omgeving) komen. De club bestaat sinds begin 90er jaren. In de zomermaanden zitten we op de racefiets, in de winter de meesten op de ATB.</p>
    </section>

    <section class="block-list">
        <div class="card-section block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72" width="80" height="80">
                <path d="M53.823 31.094c-1.77 0-3.45.374-4.976 1.04L48.2 30.01l.168-.054c.043-.015.067-.06.054-.104l-.042-.13c-.013-.042-.06-.066-.104-.052l-.162.052-.658-2.146c-.29-.955-.586-1.91-.882-2.864l.107-.035c.045-.014.068-.06.057-.104l-.042-.13c-.014-.04-.062-.066-.104-.052l-.104.034-.047.015-.475-1.34h3.5c.083 0 .184.003.296.012l.04-.5-.037.5c.73.053 3.117.392 3.1 2.5 0 2.158-2.255 2.54-2.35 2.555l.15.988c1.106-.167 3.2-1.124 3.2-3.543 0-2.378-2.09-3.378-4.044-3.52-.142-.01-.268-.015-.372-.015h-3.83v.065l-.015-.042-1.1.348.82 2.32-.095.03c-.043.013-.067.06-.054.103l.042.128c.015.045.062.07.104.056l.104-.034c.046.14.09.276.137.415H25.41l-.167-.566-.11-.376-.057.017-1.056-3.655c-.03-.112-.097-.34-.646-.594l.12-.005c.21-.01.498-.13.654-.27l.752-.68c.224.005.39.017.432.04.146.084 1.037.105 1.368.105.333 0 .85.02.934.02s.33-.206-.062-.455c-.395-.25-.975-.747-2.695-.747h-5.1c-.25 0-.594-.04-.87-.124-.325-.097-1.494-.165-1.68-.083-.188.084-.153.284.166.583.214.2.59.557.8.662.165.083.747.316 1.373.467l.33.367c.142.153.41.27.624.27.01 0 0 0 .03-.002l1.042-.054c-.008.05-.012.1-.012.15 0 .44.228.812.84.826.205.004.513-.06.735-.158.003 0 .006.003.01.004l1.036 3.59-.102.03.11.38.366 1.242-.015.025-.298.54-.595 1.074-1.187 2.153-1.202 2.146-.073.13c-1.736-.917-3.712-1.442-5.812-1.442-6.885 0-12.466 5.582-12.466 12.5 0 6.9 5.6 12.5 12.5 12.5 5.1 0 9.413-3.023 11.364-7.358l2.78.34c.423.167.882.267 1.366.267 2.1 0 3.716-1.664 3.716-3.717 0-.82-.274-1.57-.723-2.183L46.863 29.35l.234.697-.164.052c-.044.014-.068.06-.054.104l.04.13c.013.042.062.065.105.052l.167-.054.75 2.238c-3.92 2.1-6.586 6.234-6.586 11 0 6.9 5.6 12.5 12.5 12.467S66.29 50.4 66.3 43.56c0-6.884-5.58-12.466-12.467-12.466zM22.838 20.088c-.126-.21-.332-.348-.567-.348-.255 0-.478.165-.597.41l-1.137.057c-.145.008-.357-.08-.455-.188l-.103-.115c.204.033.403.053.588.05.905-.014 1.265-.456 1.596-.52.333-.06.976-.06.976-.06.235 0 .87-.022 1.397-.023l-.55.495c-.114.104-.348.2-.502.207l-.642.034zm-.996 12.63l1.183-2.156 1.195-2.15.597-1.073.01-.017L29.2 42.168l-1.41.082c-.418-4-2.733-7.426-6.024-9.39.024-.048.05-.095.076-.142zm6.66 14.847s-.398-.412-.603-1.035c-.05-.152-.08-.3-.103-.438l1.654.262.275.043c-.01.026-.008.053-.02.078l-.458.967c-.154.332-.492.387-.746.123zm-11.993-4.847l1.83-3.506 1.157-2.17 1.168-2.165.437-.802c2.884 1.7 4.9 4.7 5.3 8.255l-9.77.568c-.032-.07-.07-.135-.123-.18zm9.915-.138c.028.324.05.65.05.98 0 .355-.02.703-.053 1.048l-9.703-1.46s0-.002-.002-.003l9.707-.565zm3.237 2.125l-1.062-.138c-.362-.046-.52-.35-.348-.674 0 0 .27-.504.8-.89.11-.08.224-.144.333-.2l.554 1.878c-.09.027-.183.037-.278.025zm.974-1.473l-.2-.683c.183.073.285.257.236.504l-.036.178zm.266 1.82c.33 0 .597.27.597.598s-.27.597-.598.597c-.33 0-.598-.268-.598-.597s.268-.597.598-.597zm-3.048-1.61c-.003-.316-.02-.63-.048-.942l1.097-.064c-.413.265-.77.606-1.05 1.007zm3.536.814c-.02-.046-.047-.09-.057-.142l-.198-1.052c-.067-.36.173-.603.534-.54 0 0 .468.095.95.4l-1.23 1.334zM15.393 54.643c-6.12 0-11.08-4.96-11.08-11.082 0-6.12 4.96-11.08 11.08-11.08 1.9 0 3.597.46 5.1 1.264-.15.268-.3.537-.453.804l-1.216 2.138-1.227 2.13c-.65 1.118-1.3 2.233-1.96 3.344h-.198c-.022-.003-.045-.004-.068-.004-.756 0-1.368.612-1.368 1.4 0 .674.488 1.2 1.1 1.347l.524-.008c.345-.072.64-.275.836-.555l9.71 1.538c-.176.844-.457 1.647-.813 2.408l-10.13-1.24c.074-.107.13-.232.13-.374 0-.366-.297-.663-.663-.663-.365 0-.662.297-.662.662s.297.66.662.66c.102 0 .194-.026.28-.066l10.27 1.257c-1.818 3.644-5.57 6.153-9.917 6.153zm11.48-6.212c.22-.52.395-1.067.545-1.623.277.775.795 1.4 1.5 1.87l-2.022-.246zm5.195.033s-.515.25-1.17.25c-.656 0-1.17-.25-1.17-.25-.33-.16-.38-.494-.11-.742l.812-.746c.02-.02.05-.028.073-.044.123.038.252.063.388.063.144 0 .274-.04.403-.08.037.022.078.038.11.068l.778.735c.27.25.217.588-.112.748zm1.957-3.115s.08.567-.122 1.19c-.204.624-.6 1.036-.6 1.036-.255.265-.588.207-.74-.125l-.46-1.005c-.025-.055-.03-.114-.04-.172.098-.183.166-.383.17-.605.05-.057.106-.11.176-.147l.938-.513c.322-.174.628-.02.677.34zm-.463-1.447c.174.323.016.622-.348.665l-.466.054.754-.817c.038.06.06.098.06.098zm-.55-1.397c-.6-.414-1.325-.66-2.108-.66-.225 0-.442.028-.657.066l-4.47-15.18h20.215l.396 1.187.028.084L33.01 42.504zm20.81 12.14c-6.12 0-11.082-4.96-11.082-11.082 0-4.144 2.28-7.75 5.65-9.652l.68 2.03.45 1.335.112.334.032.095.03.082.065.172c.09.227.185.45.285.668.407.877.884 1.7 1.4 2.5.27.395.556.78.864 1.15.155.185.315.365.488.54.168.175.35.344.554.498.107.1.274.09.373-.017.097-.107.09-.275-.02-.373-.01-.01-.022-.005-.033-.012l.003-.003c-.322-.286-.615-.645-.886-1.01-.272-.37-.53-.752-.77-1.146-.48-.787-.913-1.605-1.264-2.448-.088-.21-.172-.424-.245-.638l-.055-.158-.028-.083-.02-.073-.104-.338-.41-1.348-.665-2.192c1.394-.632 2.938-.993 4.567-.993 6.1 0 11.1 5 11.1 11.08.003 6.122-4.957 11.083-11.08 11.083z"></path>
                <circle cx="15.9" cy="45.6" r="0.7"></circle>
            </svg>

            <h2>Meefietsen</h2>
            <table>
                <tr>
                    <th>Tijd</th>
                    <th>Opmerking</th>
                </tr>
                <tr>
                    <td>Zaterdag 9:00</td>
                    <td>Voor iedereen</td>
                </tr>
                <tr>
                    <td>Zondag 9:00</td>
                    <td>Voor iedereen</td>
                </tr>
                <tr>
                    <td>Dinsdag 19:00</td>
                    <td>Hoog tempo</td>
                </tr>
            </table>
            <a href="/over-ons#meefietsen" class="button">Meer tijden</a>
        </div>
        <div class="card-section block">
            <svg class="svg-padding" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="80" height="80">
                <path d="M4.188 7.688c-1.223 0-2.25 1.027-2.25 2.25V77c0 1.2 1 2.2 2.2 2.25H77.31c1.223 0 2.25-1.028 2.25-2.25V9.937c0-1.222-1.027-2.25-2.25-2.25H4.19zm.437 2.718h72.25V76.53H4.625V10.407z"></path>
                <path d="M18.626 11.62c-2.092 0-3.872 1.732-3.872 3.9 0 2.2 1.8 3.9 3.9 3.9 2.1 0 3.87-1.74 3.87-3.942 0-2.203-1.78-3.936-3.87-3.936zm0 2.057c1.123 0 1.95.867 1.9 1.9 0 1.012-.827 1.884-1.95 1.884s-1.95-.873-1.95-1.885c0-1.01.827-1.878 1.95-1.878zM27.22 25.688c-.688 0-1.25.594-1.25 1.28v4.595c0 .686.562 1.2 1.2 1.25h4.593c.687 0 1.28-.564 1.28-1.25v-4.594c0-.688-.594-1.282-1.28-1.282h-4.594zM27.25 27h4.53v4.53h-4.53V27zM36.875 25.688c-.686 0-1.25.594-1.25 1.28v4.595c0 .686.563 1.2 1.2 1.25h4.594c.686 0 1.25-.564 1.25-1.25v-4.594c0-.688-.565-1.282-1.25-1.282h-4.595zm.03 1.312h4.532v4.53h-4.53V27zM46.53 25.688c-.685 0-1.28.594-1.28 1.28v4.595c0 .687.594 1.2 1.3 1.25h4.595c.687 0 1.25-.564 1.25-1.25v-4.594c0-.688-.564-1.282-1.25-1.282H46.53zM46.563 27h4.532v4.53h-4.532V27zM56.156 25.688c-.686 0-1.25.594-1.25 1.28v4.595c0 .687.563 1.2 1.2 1.25h4.594c.687 0 1.28-.564 1.28-1.25v-4.594c0-.688-.594-1.282-1.28-1.282h-4.594zM56.188 27h4.53v4.53h-4.53V27zM65.813 25.688c-.687 0-1.25.594-1.25 1.28v4.595c0 .686.562 1.2 1.2 1.25h4.593c.687 0 1.25-.563 1.25-1.25v-4.594c0-.688-.563-1.282-1.25-1.282h-4.594zm.03 1.312h4.532v4.53h-4.53V27zM7.938 35.97c-.688 0-1.25.562-1.25 1.25v4.593c0 .687.562 1.2 1.2 1.25h4.593c.688 0 1.25-.564 1.25-1.25v-4.594c0-.688-.562-1.25-1.25-1.25H7.94zm.03 1.28H12.5v4.53H7.97v-4.53zM17.594 35.97c-.687 0-1.282.562-1.282 1.25v4.593c0 .686.595 1.2 1.3 1.25h4.593c.688 0 1.25-.563 1.25-1.25v-4.594c0-.688-.562-1.25-1.25-1.25h-4.593zm.03 1.28h4.532v4.53h-4.53v-4.53zM27.22 35.97c-.688 0-1.25.562-1.25 1.25v4.593c0 .686.562 1.2 1.2 1.25h4.593c.687 0 1.28-.564 1.28-1.25v-4.594c0-.688-.593-1.25-1.28-1.25h-4.594zm.03 1.28h4.53v4.53h-4.53v-4.53zM36.875 35.97c-.687 0-1.25.562-1.25 1.25v4.593c0 .686.563 1.2 1.2 1.25h4.594c.686 0 1.25-.564 1.25-1.25v-4.594c0-.688-.564-1.25-1.25-1.25h-4.595zm.03 1.28h4.532v4.53h-4.53v-4.53zM46.53 35.97c-.686 0-1.28.562-1.28 1.25v4.593c0 .687.594 1.2 1.3 1.25h4.595c.687 0 1.25-.564 1.25-1.25v-4.594c0-.688-.563-1.25-1.25-1.25H46.53zm.032 1.28h4.532v4.53h-4.532v-4.53zM56.156 35.97c-.687 0-1.25.562-1.25 1.25v4.593c0 .687.563 1.2 1.2 1.25h4.594c.687 0 1.28-.564 1.28-1.25v-4.594c0-.688-.593-1.25-1.28-1.25h-4.594zm.032 1.28h4.53v4.53h-4.53v-4.53zM65.813 36.125c-.687 0-1.25.563-1.25 1.25v4.594c0 .686.562 1.2 1.2 1.25h4.593c.687 0 1.25-.564 1.25-1.25v-4.595c0-.687-.563-1.25-1.25-1.25h-4.594zm.03 1.28h4.532v4.532h-4.53v-4.53zM7.938 46.22c-.687 0-1.25.562-1.25 1.25v4.593c0 .687.562 1.2 1.2 1.25h4.593c.69 0 1.25-.564 1.25-1.25v-4.594c0-.688-.562-1.25-1.25-1.25H7.94zm.03 1.28H12.5v4.53H7.97V47.5zM17.594 46.22c-.687 0-1.282.562-1.282 1.25v4.593c0 .686.594 1.2 1.3 1.25h4.593c.688 0 1.25-.563 1.25-1.25v-4.594c0-.688-.563-1.25-1.25-1.25h-4.593zm.03 1.28h4.532v4.53h-4.53V47.5zM27.22 46.22c-.688 0-1.25.562-1.25 1.25v4.593c0 .686.56 1.2 1.2 1.25h4.593c.687 0 1.28-.564 1.28-1.25v-4.594c0-.688-.594-1.25-1.28-1.25h-4.594zm.03 1.28h4.53v4.53h-4.53V47.5zM36.875 46.22c-.686 0-1.25.562-1.25 1.25v4.593c0 .686.562 1.2 1.2 1.25h4.594c.686 0 1.25-.564 1.25-1.25v-4.594c0-.688-.565-1.25-1.25-1.25h-4.595zm.03 1.28h4.532v4.53h-4.53V47.5zM46.53 46.22c-.685 0-1.28.562-1.28 1.25v4.593c0 .687.594 1.2 1.3 1.25h4.595c.688 0 1.25-.564 1.25-1.25v-4.594c0-.688-.564-1.25-1.25-1.25H46.53zm.032 1.28h4.532v4.53h-4.532V47.5zM56.156 46.22c-.686 0-1.25.562-1.25 1.25v4.593c0 .687.563 1.2 1.2 1.25h4.594c.688 0 1.28-.564 1.28-1.25v-4.594c0-.688-.594-1.25-1.28-1.25h-4.594zm.032 1.28h4.53v4.53h-4.53V47.5zM65.813 46.22c-.687 0-1.25.562-1.25 1.25v4.593c0 .686.562 1.2 1.2 1.25h4.593c.688 0 1.25-.563 1.25-1.25v-4.594c0-.688-.563-1.25-1.25-1.25h-4.594zm.03 1.28h4.532v4.53h-4.53V47.5zM7.938 56.47c-.688 0-1.25.562-1.25 1.25v4.593c0 .687.562 1.3 1.2 1.28h4.593c.688 0 1.25-.594 1.25-1.28v-4.594c0-.688-.562-1.25-1.25-1.25H7.94zm.03 1.28H12.5v4.53H7.97v-4.53zM17.594 56.47c-.687 0-1.282.562-1.282 1.25v4.593c0 .686.595 1.3 1.3 1.28h4.593c.688 0 1.25-.593 1.25-1.28v-4.594c0-.688-.562-1.25-1.25-1.25h-4.593zm.03 1.28h4.532v4.53h-4.53v-4.53zM27.22 56.47c-.688 0-1.25.562-1.25 1.25v4.593c0 .686.562 1.3 1.2 1.28h4.593c.687 0 1.28-.594 1.28-1.28v-4.594c0-.688-.593-1.25-1.28-1.25h-4.594zm.03 1.28h4.53v4.53h-4.53v-4.53zM36.875 56.47c-.687 0-1.25.562-1.25 1.25v4.593c0 .686.563 1.3 1.2 1.28h4.594c.686 0 1.25-.594 1.25-1.28v-4.594c0-.688-.564-1.25-1.25-1.25h-4.595zm.03 1.28h4.532v4.53h-4.53v-4.53zM46.53 56.47c-.686 0-1.28.562-1.28 1.25v4.593c0 .687.594 1.3 1.3 1.28h4.595c.687 0 1.25-.594 1.25-1.28v-4.594c0-.688-.563-1.25-1.25-1.25H46.53zm.032 1.28h4.532v4.53h-4.532v-4.53zM56.156 56.47c-.687 0-1.25.562-1.25 1.25v4.593c0 .687.563 1.3 1.2 1.28h4.594c.687 0 1.28-.594 1.28-1.28v-4.594c0-.688-.593-1.25-1.28-1.25h-4.594zm.032 1.28h4.53v4.53h-4.53v-4.53zM65.813 56.47c-.688 0-1.25.562-1.25 1.25v4.593c0 .686.562 1.3 1.2 1.28h4.593c.687 0 1.25-.593 1.25-1.28v-4.594c0-.688-.563-1.25-1.25-1.25h-4.594zm.03 1.28h4.532v4.53h-4.53v-4.53zM7.938 66.72c-.688 0-1.25.593-1.25 1.28v4.594c0 .687.563 1.2 1.2 1.25h4.593c.688 0 1.25-.563 1.25-1.25V68c0-.687-.562-1.28-1.25-1.28H7.94zm.03 1.31H12.5v4.532H7.97v-4.53zM17.594 66.72c-.687 0-1.282.593-1.282 1.28v4.594c0 .687.595 1.2 1.3 1.25h4.593c.687 0 1.25-.563 1.25-1.25V68c0-.687-.562-1.28-1.25-1.28h-4.593zm.03 1.31h4.532v4.532h-4.53v-4.53zM27.22 66.72c-.688 0-1.25.593-1.25 1.28v4.594c0 .687.562 1.2 1.2 1.25h4.593c.686 0 1.28-.563 1.28-1.25V68c0-.687-.593-1.28-1.28-1.28h-4.594zm.03 1.31h4.53v4.532h-4.53v-4.53zM36.875 66.72c-.687 0-1.25.593-1.25 1.28v4.594c0 .687.564 1.2 1.2 1.25h4.594c.685 0 1.25-.563 1.25-1.25V68c0-.687-.564-1.28-1.25-1.28h-4.595zm.03 1.31h4.532v4.532h-4.53v-4.53zM62.774 11.72c-2.092 0-3.872 1.734-3.872 3.937s1.78 3.9 3.9 3.942c2.09 0 3.87-1.74 3.87-3.943 0-2.203-1.78-3.936-3.87-3.936zm0 2.06c1.123 0 1.95.866 1.9 1.9 0 1.012-.827 1.884-1.95 1.884s-1.95-.87-1.95-1.883c0-1.01.827-1.878 1.95-1.878zM7.938 20.75v1.813H73V20.75H7.937z"></path>
                <path d="M18.2.838h.815c.496 0 .895.4.895.895V15.56c0 .497-.4.896-.895.896H18.2c-.494 0-.893-.4-.893-.895V1.734c0-.496.4-.895.894-.895zM62.432.838h.814c.496 0 .895.4.895.895V15.56c0 .497-.398.896-.894.896h-.814c-.495 0-.894-.4-.894-.895V1.734c0-.496.4-.895.894-.895z"></path>
            </svg>

            <h2>Kalender</h2>
            <table>
                <tr>
                    <th>Datum</th>
                    <th>Tocht</th>
                </tr>
                {% setcontent kalender = "kalender" where {datepublish: '>today'} limit 3 %} {% for tocht in kalender %}
                <tr>
                    <td>{{ tocht.datepublish|localdate("%e %B")|capitalize }}</td>
                    <td>{{ tocht.title }}</td>
                </tr>
                {% endfor %}
            </table>
            <a href="/tochten" class="button">Meer tochten</a>
        </div>
    </section>
    
    {% setcontent records = "nieuws/latest/3" %} 
    {% for record in records %}
    <div class="card-section news-section">
        <article class="news-main-item">
            <p class="date">{{ record.datepublish|localdate("%B %Y")|capitalize }}</p>
            <a href="{{ record.link }}">
                <h2>{{ record.title }}</h2>
            </a>
            <p>{{ record.intro|striptags }}</p>
            <a class="button-small" href="{{ record.link }}">Lees verder</a>
        </article>
    </div>
    {% endfor %}

</div>

{% include '_footer.twig' %}