{% include '_header.twig' with {'title': 'Foto\'s | Tuindorp Stoempers', 'bodyclass': ''} %}

<div class="header-image" style="background-image: url(/files/paginas/banner6.jpg)"></div>
<div class="page-wrapper">

    {% set minYear = "1999" %}
    {% set maxYear = "now"|date("Y") %}

    {% for year in maxYear..minYear %}
    {% setcontent fotos = "fotos" where {datepublish: year ~ '%'} %}
        {% if fotos is not empty %}
        <section class="card-section card-albums">
            <h2>{{ year }}</h2>
            <div class="albums">
                {% for album in fotos %}
                <a href="{{ album.link }}" class="album">
                    <img class="album-image" src="{{ album.image|thumbnail(400, 250) }}" alt="">
                    <div class="album-header">
                        <h3>{{ album.title }}</h3>
                        <p>{{ album.albumfotos|length }} foto's</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
        {% endif %}
    {% set year = year + 1 %}
    {% endfor %}



{% include '_footer.twig' %}