{% include '_header.twig' with {'bodyclass': ''} %}

<div class="header-image" style="background-image: url({{ pagina.image|image }})"></div>
<div class="page-wrapper">
    <section class="card-section">
        <h2>{{ pagina.heading }}</h2> {{ pagina.body }}
    </section>

    <section class="card-section">
        <table class="tochten-table" id="js-table">
            <thead>
                <tr>
                    <th class="datum">Datum</th>
                    <th class="tocht">Tocht</th>
                    <th class="afstand">Afstand (km)</th>
                    <th class="coordinator">Coördinator</th>
                    <th class="link">Link</th>
                </tr>
            </thead>
            <tbody>
                {% setcontent kalender = "kalender" %}
                {% for tocht in kalender %}
                <tr>
                    <td>{{ tocht.datepublish|localdate("%A %e %B")|capitalize }}</td>
                    <td>{{ tocht.title }}</td>
                    <td>{{ tocht.afstand }}</td>
                    <td>{{ tocht.coordinator }}</td>
                    <td>
                        {% if tocht.opmerking != "" %}
                        <a class="button-small" href="{{ tocht.opmerking }}">website</a> {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>

{% include '_footer.twig' %}